@page
@model IndexModel
@{
    ViewData["Title"] = "SB";
}

<div class="text-center">
    <h1 class="display-4">Sam Bowman - Platform Engineer</h1>
    <p>Welcome to my website. This is a very early build, so is pretty barebones.</p>
    <p>Here's some links you can use in the meantime:</p>
    <ul>
        <li><a href="https://github.com/sam-bowman">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/sam-bowman/">LinkedIn</a></li>
    </ul>
    <p>Come back soon!</p>
</div>
