<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - SB</title>
    {% else %}
    <title>Sam Bowman</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.1/css/bulma.css" integrity="sha512-xaOMJEeBE8bPRO0xztsWjEkhe1soyGCTclkIzqV/UdMD7HwpLqCmlFWXRzB2uLxeCbqeR2gZFOJR6e6uGQdtwg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="{{ url_for('static', filename='javascript/toggle_navbar.js') }}"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <div id="content">{% block content %}{% endblock %}</div>
    {% include 'footer.html' %}
</body>
</html>